.index {
  height: 100%;
  width: 100%;
}

.head {
  margin-top: 100px;
  align-content: center;
  height: 100%;
}

.foot {
  width: 100%;
  position: fixed;
  bottom: 15px;
}

.open-btn {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #ffd60c;
  color: white;
  border-color: #ffd60c;
}
