<div id="category" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/platform/product/categories'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="category-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <!--<img *ngIf="model.images[0]" [src]="model.images[0].url">-->
                    <img [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{model.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Category
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Category Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    [disabled]="modelForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addCategory()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    [disabled]="modelForm.invalid || modelForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="updateCategory()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form name="modelForm" [formGroup]="modelForm" class="category w-100-p" fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <mat-tab label="基本信息">
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Code</mat-label>
                                    <input matInput placeholder="Code"
                                           name="code"
                                           formControlName="code"
                                           required>
                                </mat-form-field>
                            </div>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>
            </div>
            <!-- / CONTENT -->
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->

</div>
